
body {
    background-image: url(https://us.123rf.com/450wm/akova/akova1909/akova190900075/131266021-tabla-de-cortar-de-madera-marr%C3%B3n-textura-de-madera-foto-de-alta-resoluci%C3%B3n-profundidad-de-campo-comp.jpg?ver=6);
justify-content: center;
}

.colortable {
    padding-left: 8em;
}
   
h1 {
    text-align: center;
}

h2 {
    display: flex;
   justify-content: space-around;
}